.backGround {
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190830/pngtree-3d-flow-gradient-shape-trendy-wallpaper-background-image_309466.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 1;
}

.backGround:before {
  background: linear-gradient(
    rgba(139, 16, 139, 0.788) 5%,
    rgb(247, 74, 132) 30%,
    rgb(40, 170, 142) 80%
  );
  content: "";
  width: 85%;
  height: 94%;
  left: 7%;
  top: 4%;
  position: absolute;
  opacity: 0.8;
  text-shadow: 20px 20px 20px black;
}
